body{
  text-align: center;
  background-color: black;

}
title{
  font-size: 50px;
  color: white;
  text-align: center;
}
#descrition{
  font-size: 20px;
  color: white;
    
}
input,name,email,age{
  font-size: 18px;
  Font-family: helvetica;
  text-align: left

p{
  font-size: 18px;
  font-family: helvetica;
  font-weight: bold;
}
.survey-form{
  width: 70%;
}
form{
  border: 2px solid black;
  border-radius: 1%;
  background-color: #9966FF;
  padding: 1.5rem;
  }
label{
  display: flex;
  text-align: center;
  font-size: 20px;
  font-family: serif;
}
.control{
  font-family: helvetica;
  width: 100%;
}
.submit-button{
  border-radius: none;
  width: 100%;
}
.input-radio,.input-checkbox{
  display: inline-block;
  mergin-right: 0.625rem;
  min-height: 1.0rem;
  min-width: 1.25rem;
}
.comment-area{
   min-height: 100px;
  width: 100%;
  padding: 0.005rem;
  resize: vertical;
}