@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Encode+Sans+Semi+Expanded:wght@400;500;600;700&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* nav section */
nav{
    background-color: rgb(33, 153, 153);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-start;
}
.navlist{
    display: flex;
    font-size: 2.7em;
    padding: 20px;
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
    padding-left: 30px;
    color: rgba(255, 255, 255, .8);
    font-family: 'Poiret One';
}
/* welcome section*/
#welcome-section{
    background-color: rgba(218, 161, 40, .8);
    color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#welcome-section h1{
    font-size: 5em;
    font-family: 'Poiret one';
}
#welcome-section p{
    font-size: 3em;
    font-weight: 300;
    font-family: 'comic neue';
    font-style: italic;
    color: rgb(33, 153, 153);
}
/* project section */
#projects{
    color: rgba(255, 255, 255, .8);
    background-color: rgba(57, 66, 194, 0.699);
    width: 100%;
    height: 100vh;
}
h2{
    padding-top: 100px;
    font-size: 4em;
    font-weight: 400;
    font-family: 'Encode Sans Semi Expanded';
    text-align: center;
}
.project img{
    max-width: 200px;
    max-height: 400px;
    display: flex;
    align-self: center;
    padding-bottom: 25px;
    border-radius: 5px;
}
.project a{
    padding: 15px 0;
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
    border: solid  rgb(33, 153, 153);
    background-color: rgb(33, 153, 153);
    border-radius: 5px;
    font-size: 1.2em;
    font-family: 'Poiret One';
}
.project .tribute, .product, .form, .technical{
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: rgba(218, 161, 40, .8);
    border: solid rgba(218, 161, 40, .8);
    border-radius: 5px;
    max-width: 220px;
    padding: 30px;
}
.project{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}
/* contact section */
#contacts{
    color:rgba(255, 255, 255, .8);
    background-color: rgba(218, 161, 40, .8);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.contact ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    font-size: 3.4em;
    font-weight: 400;
    padding-left: 20px;
}
#contacts p{
    text-align: center;
    font-size: 4.1em;
    font-family: 'Encode Sans Semi Expanded';
    font-weight: 600;
}
.contact li a{
    color: rgba(33, 153, 153, .9);
}
/* footer section */
footer{
    border-top:  rgba(33, 153, 153, .9) solid 5px;
    color: rgba(255, 255, 255, .8);
    background-color:rgba(218, 161, 40, .8);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.4em;
    font-family: 'poiret one';
    font-style: italic;
    display: flex;
    flex-flow: column; 
}
footer span{
    padding: 10px;
    padding-left: 35px;
}
footer p{
    padding: 10px;
    padding-left: 35px;
}